doctype html
html
  head
    meta(charset='utf-8')
    title Boxes
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Boxes
    form(method='post', action='/boxes')
      input(name='count', type='text', placeholder='count', autofocus= true) 
      input(name='width', type= 'text', placeholder = 'width')
      input(name='height', type= 'text', placeholder = 'height')
      textarea(name='colors') blue, green. yellow, orange, pink, purple, black, white, red, brown, olive, cyan
      button Create Boxes!
